[CONF]
# Name for the execution run
execution_name = rer_abv_esp_5_50_LLM_gpt-5-mini_thllm95
# Whether to disambiguate abbreviations or not
disambiguate_abbreviations = True
# Whether to use an LLM to choose the final entity
llm_for_el = True
# Whether to use a reranker
use_reranker = True
# Whether to apply rephrasing prior to candidate retrieval
rephrase=False
# Whether to replace the rephrased/disambiguated span in the sentence
replace_span = True
# Whether to use the preferred name rather than the synonym collected for the candidate selection
use_fsn = False
# Number of options for candidate retrieval
number_of_options = 50
# Number of options after candidate reranking
rerank_top_n = 5
# Whether to use embedding prediction or LLM prediction
threshold_for_llm = 0.95
# Unused - Only when threshold is used, to add a training bias to the confidence of the prediction
trust_training = False
# Path for the dictionary of spans - only used with certain entity linkers
span_dictionary_path = span_dictionaries/snobert_dict_expanded_all_train.json
# Unused - Threshold to decide whether to use embedding prediction or dictionary prediction
threshold_for_dictionary = 0.0
# Unused - Whether to discard the prediction
threshold = None

[OPTS] # These options are not used in the current version of the code, so they can be ignored
# Unused - Which dictionary option to apply: 
# frequent (dictionary with most frequent concept per term)
# llm (llm disambiguates from dictionary options)
# emb_llm (candidates selected from dictionary are sent to the LLM to choose only if they are among the most similar concepts according to embbeddings)
method = frequent
# Unused - Whether to use the disambiguated span for the dictionary
use_new_span = False
# Unused - Whether to use both the disambiguated and original span for the dictionary
use_both_spans_for_dict = False
# Unused - Whether to use the preferred way for entities from the dictionary or all the synonyms
use_synonyms = False
# Unused - Whether to use the new span for the LLM candidate selection
use_new_span_for_llm = False
# Unused - Whether to use the new span for reranker disambiguation and validation
use_new_span_for_validation_and_llm = False
# Unused - Whether to trust the validation
trust_validation = True
# Unused - Number of candidates to select from the dictionary for the validation with the LLM
top_concepts_embeddings = 100
# Unused - Number of candidates to select from the reranker for the validation with the LLM
top_validation_reranked = 100
# Unused - Whether to use a reranker for the validation
rerank_validation = True
# Unused - Whether to preprocess the span for the dictionary
preprocess_span = True
# Unused - Whether to preprocess the new_span for the dictionary
preprocess_new_span = False